{{> header }}
{{> menumenu }}

<title>Food Items</title>
<div>
  <p>Here are our food items!</p>
</div>
<div class="row">

{{# each Product }}
    <div class="col-md-4 ">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
            <div class="caption">
                  <a href="item/{{this.title}}"><h3>{{ this.title }}</h3></a>
                <div class="small_description">{{ this.description }}</div>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-warning pull-right" role="button">Add to Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{> footer }}
